<nav class="navbar navbar-dark bg-danger" id="header">
    <div class="logo" style="padding: 0 10px;">
        <a class="navbar-brand" routerLink="#">
            <img src="https://www.kotak.com/content/dam/Kotak/kotak-logo.png" alt="Kotak">
        </a>
    </div>
    <ul>
        <button class="btn bg-danger"> <a class="navbar-brand " routerLink="/login">
                <img src="https://www.svgrepo.com/show/21304/logout.svg" class="icon" alt="Logout">
            </a>
        </button>
    </ul>
</nav>