<div class="container-fluid" style="margin-top: 40px;">
    <div class="row dashboard">
        <div class="col">
            <div class="card">
                <img src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-male-company-employee-avatar-icon-wearing-a-necktie-png-image_6133877.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Employees</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Hello Employees check your details here</p>
                    <a routerLink="/employee" class="btn btn-primary">Visit</a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/bubbles/256/man-blue-shopping-basket.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Customers</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Hello Users Check your details here</p>
                    <a routerLink="/customer" class="btn btn-primary">Visit</a>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/bubbles/256/cutting-coupon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Offers & Services</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Our offers will make you drool</p>
                    <a routerLink="/offer" class="btn btn-primary">Visit</a>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/doodle/256/google-maps-new.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Locate us</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">Find Our Nearest Branch</p>
                    <a routerLink="/locate" class="btn btn-primary">Visit</a>


                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://img.icons8.com/ios-filled/256/thumbs-up-down.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Feedback</b>
                    </h5>
                    <p class="card-text" style="height: 100px;">All FeedBack Welcome</p>
                    <a routerLink="/feedback" class="btn btn-primary">Visit</a>
                </div>
            </div>
        </div>
    </div>
</div>